/* ForumRoom.css */

/* Container for the entire forum room */
.chat-room {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px;
    border: 5px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for each message */
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Style for message text */
  .message p {
    margin: 0;
  }
  
  /* Style for delete button */
  .message button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  /* Style for message input form */
  .message-input {
    margin-top: 100px;
  }
  
  /* Style for message input field */
  .message-input input {
    width: calc(100% - 70px);
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }

  .message-input input:hover, input:focus {
    border: 1px solid #333 !important;
  }
  
  /* Style for message send button */
  .message-input button {
    width: 60px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Style for different users */
  .message:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Style for user display name */
  .user-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  

